.button {
    width: 100px;
    height: 30px;
    background-color: black;
    border-radius: 10px;
    color: white;
    z-index: 200;
    position: sticky;
    padding: 10px;
    margin: 10px;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* right: 50; */
}
    
    .ux-banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        min-width: 320px;
        position: fixed;
        margin-bottom: 5px;
        top: 0;
        left: 0;
        z-index: -99;
        background-image: linear-gradient(rgba(0,0,0,0.8) 100%, rgba(90, 100, 91,0.5)), url("images/case-study.jpeg");
        background-size: cover !important;
        color: white;
    }

    .case-study {
        color: black;
        /* margin-top: 100vh; */
        background: White;
        height: 100%;
        min-height: 100vh;
        width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position:relative;
        border-bottom: 5px black;
        padding: 20px;
        /* padding-left: 100px;   */
        /* padding-left: 200px; */
        
    }

    .case-study.art {
        margin-top: 100vh;  
        /* padding-left: 100px;   */
        left: 0;
        
    }

    /* .case-study.row {
        padding-left: 100px;    
    } */
    .study-details {
        width: 50vw;
        min-width: 300px;
        border: 1em black;
    }


    .study-images {
        /* height: 300px; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* flex-direction: column; */

    }